title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
# bayes
#instalamos 
install.packages("naivebayes")
install.packages("e1071")

#cargamos las librerias
library("naivebayes")
library(e1071)
library(caret)

#importamos data set
ep <- read.csv("../Desktop/sebastian/r studio/cheat sheet/electronics-purchase.csv.txt")

#instalamos semilla 
set.seed(2018)


```
```{r}
#creamos el sub set para el modelo

t.ids <- createDataPartition(ep$Purchase, p=0.67 , list = FALSE)

#creamos el modelo

mod <-  naiveBayes(Purchase ~ . , data = ep[t.ids,])

# vemos el modelo
mod
```


```{r}
#comprobamos el modelo

pred <- predict(mod, ep[-t.ids,])

#cremos una matriz de confusion

tab <- table(ep[-t.ids,]$Purchase, pred, dnn = c("actual" , "predicha"))

confusionMatrix(tab)
